<div class="flex h-screen bg-white">
  <!-- sidebar -->
  <div class="hidden md:flex flex-col w-64 bg-[url('/side_bar.png')] mr-5">
    <div class="flex items-center justify-center h-16 bg-[url('/side_bar.png')] py-15">
      <img src="logo_clinic.png" alt="logo de la clinique" />
    </div>
    <div class="flex flex-col h-screen">
      <nav class="flex-1 px-3 py-4 bg-[url('/side_bar.png')]">
        <a
          class="flex items-center px-4 py-2 mt-2 text-black hover:bg-[#9f9fff] active:bg-[#9f9fff]"
          [routerLink]="['/rendez-vous']"
          routerLinkActive="active"
        >
          <i class="fas fa-chart-pie h-6 w-6 mr-2"></i>
          Rendez-vous
        </a>
        <a
          class="flex items-center px-4 py-2 mt-2 text-black hover:bg-[#9f9fff] active:bg-[#9f9fff]"
          [routerLink]="['/Malade']"
          routerLinkActive="active"
        >
          <i class="fas fa-user-md h-6 w-6 mr-2" style="font-size: 25px"></i>
          Patients
        </a>
        <a
          class="flex items-center px-4 py-2 mt-2 text-black hover:bg-[#9f9fff] active:bg-[#9f9fff]"
          [routerLink]="['/calendar']"
          routerLinkActive="active"
        >
        <i class='far fa-calendar-alt'></i>
          Calendrier
        </a>
        <a
          class="flex items-center px-4 py-2 mt-2 text-black hover:bg-[#9f9fff] active:bg-[#9f9fff]"
          [routerLink]="['/facture']"
          routerLinkActive="active"
        >
          <i class='far fa-file-alt h-6 w-6 mr-2' style="font-size: 25px"></i>
          Facture
        </a>
      </nav>
    </div>
  </div>
  <!-- Main content -->
  <div class="flex flex-col flex-1">
    <div class="flex justify-between items-center my-6">
      <div>
        <h1 class="text-3xl font-bold text-gray-800">Gestion des Rendez-vous</h1>
        <nav class="flex mt-3" aria-label="Breadcrumb">
          <ol
            class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
          >
            <li>
              <div class="flex items-center">
                <a
                  class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
                  [routerLink]="['/rdv']"
                  routerLinkActive="active"
                >
                  Liste des Rendez-vous</a
                >
              </div>
            </li>
            <li aria-current="page">
              <div class="flex items-center">
                <svg
                  class="rtl:rotate-180 w-3 h-3 text-gray-700 mx-1 hover:text-blue-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                <a
                  class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
                  [routerLink]="['/creates-rdv']"
                  routerLinkActive="active"
                  >Création des rendez-vous</a
                >
              </div>
            </li>
          </ol>
        </nav>
      </div>
      <div class="flex items-center space-x-4">
        <button class="relative">
          <span
            class="absolute top-0 right-0 block h-2 w-2 rounded-full bg-[var(--Asec)]"
          ></span>
          <i class="far fa-bell text-3xl"></i>
        </button>
        <app-current-user></app-current-user>
      </div>
    </div>

    <!-- Barre de recherche -->
    <div class="my-4 flex justify-between mx-4">
      <input
        type="text"
        [(ngModel)]="searchText"
        placeholder="Tapez votre recherche ici"
        class="md:w-3/5 p-3 rounded-4xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 bg-[var(--Aprim)]"
      />
      <button
        type="button"
        class="bg-[#9f9fff] rounded-3xl p-3 w-1/5 text-white"
        [routerLink]="['/creates-rdv']"
        routerLinkActive="active"
      >
        Ajouter un rendez-vous
      </button>
    </div>

    <!-- Statistiques globales -->
    <div class="bg-[var(--Aprim)] rounded-3xl shadow p-6 mb-6 mx-3">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-3xl font-bold text-gray-700 mb-5">Rendez-vous</h2>
        </div>
        <div
          class="flex justify-center items-center gap-2 mb-5"
          *ngIf="totalPages() > 1"
        >
          <button
            class="px-3 py-1 rounded border text-gray-500"
            [disabled]="currentPage === 1"
            (click)="goToPage(currentPage - 1)"
          >
            Précédent
          </button>
          <ng-container
            *ngFor="let page of [].constructor(totalPages); let i = index"
          >
            <button
              class="px-3 py-1 rounded border"
              [class.bg-blue-200]="currentPage === i+1"
              (click)="goToPage(i+1)"
            >
              {{ i + 1 }}
            </button>
          </ng-container>
          <button
            class="px-3 py-1 rounded border text-gray-500"
            [disabled]="currentPage === totalPages()"
            (click)="goToPage(currentPage + 1)"
          >
            Suivant
          </button>
        </div>
      </div>
      <hr class="mb-4 border-[#9f9fff] border-2" />
      <!-- Pagination -->

      <!-- formulaire de recherche des utilisateurs -->
      <div class="p-6 space-y-4">
        <!-- Tableau des utilisateurs -->
        <div class="overflow-x-auto rounded-lg shadow border border-white mt-6">
          <table class="min-w-full divide-y divide-white text-sm">
            <thead class="bg-[#9f9fff] text-white">
              <tr>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Heure</th>
                <th class="px-4 py-2">Salle</th>
                <th class="px-4 py-2">Adresse</th>
                <th class="px-4 py-2">Nom et prenom</th>
                <th class="px-4 py-2">Statut</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-50">
              <tr
                *ngFor="let rendezVous of paginatedRendezVous()"
                style="cursor: pointer"
              >
                <td class="px-4 py-2">{{ rendezVous.jour }}</td>
                <td class="px-4 py-2">{{ rendezVous.heure }}</td>
                <td class="px-4 py-2">{{ rendezVous.serviceMedical }}</td>
                <td class="px-4 py-2">{{ rendezVous.nomSalle }}</td>
                <td class="px-4 py-2">{{ rendezVous.patientNomComplet }}</td>
                <td class="px-4 py-2 flex space-x-2">
                  <button
                    class="text-blue-600 hover:text-blue-800"
                  >
                    <i
                      class="fas fa-toggle-off"
                      style="
                        transform: rotate(90deg);
                        display: inline-block;
                        font-size: 20px;
                      "
                    ></i>
                  </button>
                  <button class="text-red-600 hover:text-red-800">
                    <!-- Icône supprimer -->
                    <i class="far fa-trash-alt" style="font-size: 20px"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
